<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Eat da burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">
		Remove Burger
	</button>
</li>
